doctype html
html
  head
    title Dipti Dance Academy
    block scripts
    block style  
  body
    nav#navbar
        ul 
            div#logo
                img(src="/static/img/logo.png")
                | DDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact]
 
block content
footer#footer 
  | Copyright 2021 diptidanceacademy.com  | All rights reserved